.animated-card {
    position: relative;
  }
  
  .animated-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    animation-name: backgroundAnimation;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 800% 800%;
  }
  
  @keyframes backgroundAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animated-card-content {
    position: relative;
    z-index: 1;
  }
  