.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-section {
  flex: 1;
  padding: 20px;
}

.right-section {
  flex: 1;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .login-container {
    flex-direction: column;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .left-section,
  .right-section {
    width: 100%;
    padding: 10px;
  }
}

.login-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.enroll-button {
  width: 100%;
}

.google-button {
  width: 100%;
  margin-top: 10px;
}

.email-field,
.password-field {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .login-title {
    font-size: 24px;
  }
}
